
<form style="border-radius: 30px; border: 2px solid #659af0; width: 500px; height: 300px; margin-left: auto; margin-right: auto; margin-top: 100px;" method="post">
	<h4 style="text-align: center; text-transform: uppercase; padding: 15px;">Увійти</h4>
	<div style="display: flex; flex-direction: column; align-items: center;">
		<label for="userName" style="margin-bottom: 8px;">Ім'я користувача</label>
		<input id="userName" name="userName" type="text" maxlength="50" style="border-radius: 5px; border: none; background-color: #e4e9f2;" required />
	</div>
	<div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
		<label for="password" style="margin-bottom: 8px;">Пароль</label>
		<input id="password" name="password" type="password" style="border-radius: 5px; border: none; background-color: #e4e9f2;" required />
	</div>
	<button type="submit"
			style="margin-left: 200px; border-radius: 5px; border: none; background-color: #659af0; padding: 7px 30px; color: white; font-weight:bold; margin-top: 30px; text-align:center;">
		Увійти
	</button>
</form>
