@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4" style="text-transform: uppercase; font-size: 2.3em; margin-bottom: 30px;">Ласкаво просимо!</h3>
    <div style="display: flex; flex-direction: column; justify-content:flex-start; align-items:flex-start;">
        <h4 style="align-self:flex-start; margin-bottom: 25px;">Правила користування</h4>
        <ol style="text-align:start;">
            <li style="padding: 10px;">Для доступу до вкладок потрібно зареєструватися чи залогінитися.</li>
            <li style="padding: 10px;">
                Форма для реєстрації складається з таких полів
                <ul>
                    <li style="padding: 5px;">Ім'я користувача - спробуйте вигадати, щось унікальне та не більше 50 символів.</li>
                    <li style="padding: 5px;">Ваші прізвище, ім'я та побатькові, їх сумарна довжина не повинна перевищувати 500 символів.</li>
                    <li style="padding: 5px;">Пароль та підтвердження пароля, вигадайте цікавий пароль з унікальними символами, кількість яких від 8 до 16.</li>
                    <li style="padding: 5px;">Номер телефону, Вам потрібно дописати лише цифри після +380.</li>
                    <li style="padding: 5px;">Електронна адреса, вкажіть ту, що використовуєте чи є активною.</li>
                    <li style="padding: 5px;">Перед натисканням на кнопку реєстрації обов'язково перевірте введені дані та впевняться, що Ви все вказали правильно!</li>
                </ul>
            </li style="padding: 10px;">
            <li style="padding: 10px;">На сторінках: Lab1, Lab2 та Lab3 Ви маєте можливсть перевірити виконання відповідних лабораторних робіт ввевши необхідні дані.</li>
            <li style="padding: 10px;">Після реєстрації Ви матимете можливість перейти у власний профіль. Дані в якому можна лише перглядати!</li>
        </ol>
    </div>
</div>
